[submodule "prisehub/hr"]
	path = prisehub/hr
	url = git@github.com:prisehub/hr.git
	branch = 10.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 10.0
